.qsmt-sub-nav {
    margin-top: 30px;

}

.qsmt-sub-nav.nav-pills>li {
    padding: 0;
    float: none;
}

.qsmt-sub-nav li a {
    text-align: center;
    margin-bottom: 5px;
}

@media (max-width: 767px) {
    .qsmt-sub-nav {
        width: 100%;
    }

    .qsmt-sub-nav.nav-pills>li {
        display: table-cell !important;
        width: 1% !important;

    }

    .qsmt-sub-nav li a {
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
}


